<div class="post">

	<h2><a href="{{ post.link }}">{{ post.post_title }}</a></h2>
	<p class="post__date">{{ post.date }}</p>

	<div class="post__excerpt">
		<p>{{ post.excerpt }} <a class="read-more" href="{{ post.link }}">Read More</a></p>
	</div>

</div>
<!-- /.post -->
