<section class="search-results">

	<div class="container">

		{% if posts | length %}

			<div class="search-results__heading">
				<h2>{{ posts | length }} Result{% if posts | length > 1 %}s{% endif %} found for: {{ search_term }}</h2>
				{#
					{{ searchform }}
				#}
			</div>

	        {% for post in posts %}

				{{ include('/template-parts/post.twig', { post : post } ) }}

	        {% endfor %}

		{% else %}

			<div class="no-posts">
				<div class="search-results__heading">
					<h2>Sorry, no results found for: {{ search_term }}</h2>
					{#
						{{ searchform }}
					#}
				</div>
			</div>
			<!-- /.no-posts -->

		{% endif %}

	</div>
	<!-- /.container -->

</section>
